{
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "semi": true,
  "prettier/prettier": [
    "error",
    {
      "parser": "flow"
    }
  ],
  "trailingComma": "es5",
  "quoteProps": "consistent",
  "arrowParens": "always",
  "endOfLine": "lf"
}
